.app {
    margin: 5px;
    padding: 100px;
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid black;
  }
 .app .sub{
    text-align: center;
    padding: 120px;
    background-color: rgb(180, 185, 185);

  }
  
  input {
    padding: 10px;
    font-weight: 600;
    margin-right: 8px;
  }
  
  ol{
    margin: 12px;
  }
 
  
  li {
    margin: 12px 0;
    font-size: large;
    font-weight: 700;
    
  }
  
  .delete-button {
    font-size: 30px;
   margin: 12px;
  
    border: none;
    color: rgb(168, 31, 31);
    border-radius: 5px;
  
  
  }

  